body {
    background-color: #FAB739;
    font-weight: "Open Sans", sans-serif; }
  
  h1, h2, h3, h4, h5 {
    font-family: "Rowdies", cursive; }
  
  h1 {
    font-size: 55px
  }
  
  h2 {
    color: rgba(212, 16, 16, 0.774); 
  }

  h3{
    color:  black; 
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  header h2 {
    color: darkgray; }
  
  .site-footer {
    background-image: linear-gradient(to right, black, #FAB739);
    padding: 20px 0; }
  
  .jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, black, #FAB739);
    color: white;
    margin: 0; }
  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
  
  .navbar {
    background-image: linear-gradient(to right, black, #FAB739);
  }
  .tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px; }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  .carousel {
    border: solid black; }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }
  
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
        /*---Firefox Bug Fix --*/
        .carousel-item {
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        -webkit-backface-visibility: visible;
                backface-visibility: visible;
      }
      /*
      h2 {
        margin: 60px;
        text-align: justify;
      }*/

      .media-body {
        font-family: 'Sora', sans-serif;
      }
      h4 {
        font-family: rowdies;
      }

      .card {
        background-color: lightgrey
      }

      h5 {
        color: rgba(212, 16, 16, 0.774);
      }

      a {
        color: blue;
      }

      .modal-header{
        background-color: #FAB739

      }
.card-text{
  box-align: justify,
}

#history{
  background-image: url(../img/OldSchoolPhoto.jpg);
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}